<h3>Add scheduledsending</h3>
<form method="post" action="/scheduledsending/add">
  <input type="text" name="id_mail" placeholder="add Id Mail" >
  <input type="text" name="date.year" placeholder="add year">
  <input type="text" name="date.month" placeholder="add month">
  <input type="text" name="date.day" placeholder="add day">
  <input type="text" name="date.hour" placeholder="add hour">
  <input type="text" name="date.minutes" placeholder="add minutes">
  <input type="submit" value="submit" >
</form>
<h3>Time <%= new Date();%>
</h3>
<h3>ScheduledSending</h3>
<table style="width:65%">
  <tr>
    <th style="text-align: center" >id_doc</th>
    <th style="text-align: center" >rev_doc</th>
    <th style="text-align: center" >id_mail</th>
    <th style="text-align: center" >Year</th>
    <th style="text-align: center" >Month</th>
    <th style="text-align: center" > Day </th>
    <th style="text-align: center" > Hour </th>
    <th style="text-align: center" >Minutes</th>
  </tr>
  <% scheduledsending.forEach(function(scheduledsending){ %>
    <tr >
      <td style="text-align: center"> <%= scheduledsending.id %> </td>
      <td style="text-align: center"> <%= scheduledsending.value.rev %> </td>
      <td style="text-align: center"> <%= scheduledsending.value.id_mail %> </td>
      <td style="text-align: center"> <%= scheduledsending.value.date.year %> </td>
      <td style="text-align: center"> <%= scheduledsending.value.date.month %> </td>
      <td style="text-align: center"> <%= scheduledsending.value.date.day %> </td>
      <td style="text-align: center"> <%= scheduledsending.value.date.hour %> </td>
      <td style="text-align: center"> <%= scheduledsending.value.date.minutes %> </td>
  </tr>
  <% }); %>
  </table>
